
.profile__add-btn {
    padding: 0;
    box-sizing: border-box;
    background-image: url("../../../images/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin-left: auto;
    cursor: pointer;
}

.profile__add-btn:hover {
    opacity: 0.6;
}


@media screen and (max-width: 672px){
    .profile__add-btn {
        margin: 36px auto 0;
    }
}

@media screen and (max-width: 425px){
    .profile__add-btn {
        width: 100%;
    }
}