
.form__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    border: none;
    outline: none;
    padding: 0 0 13px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
}

.form__input::-webkit-input-placeholder {
    color: #C4C4C4;
}

.form__input::-moz-placeholder {
    color: #C4C4C4;
}

.form__input:-moz-placeholder {
    color: #C4C4C4;
}

.form__input:-ms-input-placeholder {
    color: #C4C4C4;
}

.form__input:focus {
    background: #ffe;
}

