
.profile__inner-info {
    margin-bottom: 16px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

@media screen and (max-width: 425px){
    .profile__inner-info {
        margin-top: 26px;
        margin-bottom: 14px;
    }
}