
.elements__like-btn {
    background-image: url("../../../images/like-disabled.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    min-width: 22px;
    height: 19px;
    border: none;
    padding: 0;

    cursor: pointer;
    outline: none;

}

.elements__like-btn:hover {
    opacity: 0.5;
}