
.form__submit {
    box-sizing: border-box;
    padding: 14px 18px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 37px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid transparent;
}

.form__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px){

    .form__submit {
        font-size: 14px;
        padding: 14px 82px;
    }
}