
.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 880px;
    margin: auto;
    padding-top: 40px;

}

@media screen and (max-width: 672px){
    .profile {
       justify-content: center;
    }
}


